.mainContainer {
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-rows: 80px auto 100px;
    grid-template-areas: 
    'header header header'
    'leftSide main rightSide'
    'footer footer footer';
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(207, 168, 136);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center; 
    column-gap: 10%;
 
    background-color: rgb(237, 224, 212); 

}
.menu { 
   
} 

.menicko { 
    box-sizing: border-box;
    padding: 10px;
    width: 35vw;
    height: 35vw;
    display: flex; 
    flex-direction: column;
    background-color: rgb(237, 224, 212);
} 
 

.menickoObrazek { 
    
    width: 35vw;
    height: 35vw;
    background-color: rgb(237, 224, 212);
} 
.menickoObrazek img{
    object-fit: cover;
}
.menickoRadek { 

    display: flex; 
} 


.polozka { 
justify-content: space-between;
display: flex;

}  

.leftSide {
    grid-area: leftSide;
    background-color: rgb(207, 168, 136);
}

.rightSide {
    grid-area: rightSide;
    background-color:  rgb(207, 168, 136);
}

.footer {
    grid-area: footer;
    background-color: rgb(221, 184, 146);
}